{% extends "conteneur.html" %}

{% block titre %}Les cursus universitaires{% endblock %}

{% block corps %}

<div class="centrer_contenu">
    <h2>Index des cursus universitaires</h2>
    {% if resultats %}
    <p>{{resultats.total}} cursus sont présents dans la base :</p>
    <br>
    <ul>
        {% for formation in resultats.items %}
        <li><div class="card"><a href="{{url_for('formation', formation_id=formation.formation_id)}}">
            <b>Nom </b>: {{formation.formation_cursus}}<br/>
            <b> Identifiant </b> : {{formation.formation_id}}
        </a></div></li><br/>
        {% endfor %}
    </ul>
    <nav aria-label="research-pagination">
        <ul class="pagination">
            {%- for page in resultats.iter_pages() %}
            {% if page %}
            {% if page != resultats.page %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index_formations', page=page) }}">{{page}}</a>
            </li>
            {% else %}
            <li class="page-item active disabled">
                <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
            </li>
            {% endif %}

            {% else %}
            <li class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            {% endif %}
            {%- endfor %}
        </ul>
    </nav>
    {% endif %}

    <div align="center">
        <a href="{{url_for('formation_add')}}" class="btn btn-dark">Ajouter un cursus</a>
        <br>
        <br>
        <a href="{{url_for('accueil')}}" class="btn btn-dark">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}