{% extends "conteneur.html" %}


{% block corps %}
<h2>Les autres cardinaux</h2>

<div class="centrer_contenu">
    {% if resultats %}
        <p>{{resultats.total}} cardinaux sont présents dans la base, qui ne sont ni romains ni florentins :</p>
        <br>
    <ul>
            {% for cardinal in resultats.items %}
                <li><div class="card"><a href="{{url_for('cardinal', cardinal_id=cardinal.cardinal_id)}}">
                    <b>Nom </b>: {{cardinal.cardinal_nom}}<br/>
                    <b>Prénom</b> : {{cardinal.cardinal_prenom}}<br/>
                    <b> Identifiant </b> : {{cardinal.cardinal_id}}
                </a></div></li><br/>
            {% endfor %}
    </ul>
    <br>
        <nav aria-label="research-pagination">
            <ul class="pagination">
                {%- for page in resultats.iter_pages() %}
                    {% if page %}
                        {% if page != resultats.page %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('index_cardinaux', page=page) }}">{{page}}</a>
                            </li>
                        {% else %}
                            <li class="page-item active disabled">
                                <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link">...</a>
                        </li>
                    {% endif %}
                {%- endfor %}
            </ul>
        </nav>
    {% endif %}
    <div align="center">
        <a href="{{url_for('cardinal_add')}}" class="btn btn-dark">Ajouter un cardinal</a>
        <br>
        <br>
        <a href="{{url_for('index_cardinaux')}}" class="btn btn-dark">Retour à l'index général des cardinaux</a>
        <br>
        <br>
        <a href="{{url_for('accueil')}}" class="btn btn-dark">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}</title>
</head>
<body>

</body>
</html>