{% extends "conteneur.html" %}

{% block titre %}Gérer les missions diplomatiques des cardinaux{% endblock %}

{% block corps %}

<div>
    <div>
        <div class>
            <div class>
                <h2>Gérer les missions diplomatiques des cardinaux <button type="button"  class="btn btn-success btn-lg float-right"
                data-toggle="modal" data-target="#mymodal">Ajouter une mission</button> </h2>
                <br>

                <br>
                <table class="table table-hover table-bordered table-striped ">
                    <thead class="thead-dark">
                    <tr class="text-center">
                        <th>Id du cardinal</th>
                        <th>Id de l'État</th>
                        <th>Id de la ville</th>
                        <th>Date de la mission</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mission in mission %}
                    <!-- Suppression d'une mission -->
                        <tr class="text-center">
                            <td class="align-middle">{{mission.cardinal.cardinal_prenom}} {{mission.cardinal.cardinal_nom}}</td>
                            <td class="align-middle">{{mission.pays.pays_nom}}</td>
                            <td class="align-middle">{{mission.ville.ville_nom}}</td>
                            <td class="align-middle">{{mission.mission_date}}</td>
                            <td class="align-middle">
                                <a href="/mission/{{mission.mission_id}}/update" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{mission.mission_id}}">Modifier</a>
                                <a href="/mission/{{mission.mission_id}}/delete" class="btn btn-danger btn-xs" onclick="return confirm('Cette mission va être supprimée, êtes-vous certain de vouloir continuer ?')">Supprimer</a>
                            </td>
                        </tr>


                        <!-- Modifier une mission-->
                        <div id="modaledit{{mission.mission_id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modifier une mission</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{url_for('mission_update', mission_id=mission.mission_id)}}" method="POST">
                                            <div class="form-group">
                                                <label>Id du cardinal</label>
                                                <input type="text" class="form-control" name="mission_id_cardinal" value="{{mission.mission_id_cardinal}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Id de l'État</label>
                                                <input type="text" class="form-control" name="mission_id_pays" value="{{mission.mission_id_pays}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Id de la ville</label>
                                                <input type="text" class="form-control" name="mission_id_ville" value="{{mission.mission_id_ville}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Date de la mission *</label>
                                                <input type="text" class="form-control" name="mission_date" value="{{mission.mission_date}}">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-success" type="submit">Modifier</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Ajouter une mission-->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ajouter une mission</h4>
                            <br>
                            <div class="modal-body">
                                <form action="{{url_for('mission_add')}}" method="POST">
                                    <div class="form-group">
                                        <label>Id du cardinal</label>
                                        <input type="text" class="form-control" name="mission_add_id_cardinal">
                                    </div>
                                    <div class="form-group">
                                        <label>Id de l'État'</label>
                                        <input type="text" class="form-control" name="mission_add_id_pays">
                                    </div>
                                    <div class="form-group">
                                        <label>Id de la ville</label>
                                        <input type="text" class="form-control" name="mission_add_id_ville">
                                    </div>
                                    <div class="form-group">
                                        <label>Date de la mission</label>
                                        <input type="text" class="form-control" name="mission_add_date">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success" type="submit">Ajouter</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}